* {
    margin: 0;
    padding: 0;
}

.secpage {
    margin: 0;
}

.car_mess_div2 {
    display: block;
    background: #fff;
    padding: 20px auto;
    padding-top: 20px;
    width: 100vw;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.list {
    background: #fff;
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.bottom_col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0px;
}

.list_title {
    font-size: 18px;
    color: #333;
}

.list_price {
    font-size: 16px;
    color: #666;
}