<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue/vue.js"></script>
    <script src="js/vue-resource/vue-resource.js"></script>
    <link rel="stylesheet" href="css/pinshouqi.css" type="">
    <title>拼手气列表</title>
</head>

<body>
    <div id="app">
        <div v-for='item,index in header_list' :key='index'>
            <img class="header_img" :src="imgHost+item.file_path"
                :style="'height:'+wWindth/item.width*item.height+'px'">
        </div>
        <div class="content">
            <div class="detail"
                :style="'width:'+wWindth*0.9+'px;height:'+wWindth*0.4+'px;margin-left:'+wWindth*0.05+'px;margin-bottom:'+wWindth*0.05+'px'"
                v-for='item,index in commodity_list'>
                <img class="detail_img" :style="'width:'+wWindth*0.42+'px'" :src="imgHost+item.headlines">
                <div class="detail_right">
                    <div class="title">{{item.title}}</div>
                    <div class="price">￥{{item.pro_price}}</div>
                    <div class="support">
                        <div class="contain">
                            <div class="progress" :style="'width:' + item.last_nums/item.nums * 90 + 'px;'">
                                <span v-if="item.last_nums > 0">仅剩{{ item.last_nums }}件</span>
                                <span v-else>已售罄</span>
                            </div>
                        </div>
                    </div>
                    <div class="goDetail">立即参与</div>
                </div>
            </div>
        </div>
        <div v-for='item,index in bottom_list' :key='index'>
            <img class="header_img" :src="imgHost+item.file_path"
                :style="'height:'+wWindth/item.width*item.height+'px'">
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            detail: null,
            header_list: null,
            bottom_list: null,
            commodity_list: null,
            imgHost: 'https://app.icangyu.com',
            wWindth: document.body.clientWidth,
            hHeight: null
        },
        mounted() {
            this.showDetails();
        },
        methods: {
            showDetails() {
                this.$http.get('https://app.icangyu.com/icyApiFighting/fighting_list?id=5').then(res => {
                    this.detail = res.body.data.list[0];
                    this.header_list = res.body.data.list[0].header_list;
                    this.bottom_list = res.body.data.list[0].bottom_list;
                    this.commodity_list = res.body.data.list[0].commodity_list;
                    console.log(this.detail)
                }).catch(res => {
                    console.log('获取失败', res)
                })
            }
        }
    });
</script>

</html>