		/* 375px = 100vw;
		336px = 89.6vw;
		290px = 77.33vw;
		250px = 66.67vw;
		210px = 56vw;
		113px = 30.13vw;
		77px = 20.53vw;
		50px = 13.33vw;
		40px = 10.67vw;
		33px = 8.8vw;
		30px = 8vw;
		28px = 7.47vw;
		22.5px = 6vw;
		20px = 5.33vw;
		18px = 4.8vw;
		16px = 4.27vw;
		15px = 4vw;
		14px = 3.7vw;
		13px = 3.45vw;
		12px = 3.2vw;
		10px = 2.7vw;
		9px = 2.4vw;
		5px = 1.33vw;
		4px = 1.07vw;
		3px = 0.8vw;
		 */
		* {
			padding: 0px;
			margin: 0px;
			font-size: 4.27vw;
			color: #333;
			vertical-align: middle;
		}

		.vue {
			padding-bottom: 15.66vw;
		}

		.detail {
			width: 92vw;
			padding: 4vw;
		}

		.detail .nick {
			width: 92vw;
			padding-bottom: 4vw;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.detail .nick .avatar {
			width: 10.67vw;
			height: 10.67vw;
			border-radius: 50%;
		}

		.detail .nick .nick-right {
			margin-left: 2.7vw;
		}

		.detail .nick .nick-right .nickname {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.detail .nick .nick-right .nickname span {
			font-size: 3.7vw;
		}

		.detail .nick .nick-right .nickname .nick-lv {
			font-size: 2.7vw;
			width: 8.8vw;
			height: 4.3vw;
			line-height: 4.3vw;
			text-align: center;
			background: #fcdd6c;
			margin-left: 1.33vw;
			border-radius: 0.7vw;
		}

		.detail .nick .nick-right .createdate {
			font-size: 3.45vw;
			color: #888;
		}

		.detail .content {
			width: 92vw;
			margin-bottom: 4vw;
		}

		.detail .album {
			width: 92vw;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding-bottom: 3.2vw;
		}

		.detail .album .img {
			width: 30vw;
			height: 30vw;
			object-fit: cover;
			margin-right: 0.6vw;
			margin-bottom: 0.8vw;
		}

		.detail .palm span {
			font-size: 3.7vw;
			color: #666;
		}

		.detail .palm .nickname {
			margin-right: 1.35vw;
			color: #9f8a60;
		}

		.comment-title {
			width: 96vw;
			height: 13.33vw;
			line-height: 16vw;
			padding-left: 4vw;
			font-size: 4vw;
			color: #313131;
			border-bottom: 1px solid #d9d9d9;
		}

		.comment-list {
			width: 92vw;
			margin-left: 4vw;
			padding: 4vw;
			padding-left: 0vw;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			border-bottom: 1px solid #d9d9d9;
		}

		.comment-list .comment-avatar {
			width: 7.47vw;
			height: 7.47vw;
			border-radius: 50%;
		}

		.comment-list .comment-right {
			display: flex;
			flex-direction: column;
			margin-left: 1.07vw;
		}

		.comment-list .comment-right .comment-nickname {
			font-size: 3.7vw;
		}

		.comment-list .comment-right .comment-content span {
			font-size: 3.7vw;
		}

		.comment-finish {
			width: 92vw;
			padding: 4vw;
			text-align: center;
			font-size: 3.7vw;
			color: #888;
		}