/* 375px = 100vw;
        336px = 89.6vw;
        290px = 77.33vw;
        250px = 66.67vw;
        210px = 56vw;
        77px = 20.53vw;
        50px = 13.33vw;
        40px = 10.67vw;
        33px = 8.8vw;
        28px = 7.47vw;
        22.5px = 6vw;
        20px = 5.33vw;
        18px = 4.8vw;
        16px = 4.27vw;
        15px = 4vw;
        14px = 3.7vw;
        12px = 3.2vw;
        10px = 2.7vw;
        9px = 2.4vw;
        5px = 1.33vw;
        4px = 1.07vw; */
/* 头部视频及图片 */
.vue .video {
    width: 100vw;
    height: 56vw;
    position: relative;
}

.vue .video .play-icon {
    width: 13.33vw;
    height: 13.33vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 头部图片 */
.vue .video .img {
    width: 100%;
    height: 100%;
}

/* 头部视频 */
.vue .video video {
    width: 100%;
    height: 100%;
}

/* 顶部标题 */
.top {
    width: 92vw;
    padding: 4vw;
}

/* 商品标题 */
.top .title {
    margin-bottom: 1.3vw;
}

.top .price {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.top .price span {
    font-size: 7.47vw;
    color: #bc2e2e;
}

.top .price .original-price {
    color: #999;
    font-size: 3.7vw;
    text-decoration: line-through;
    margin-left: 3.2vw;
}

.liner {
    width: 100vw;
    height: 2.7vw;
    background: #f7f7f7;
}

.detail {
    padding: 5.33vw 4vw;
    width: 92vw;
    display: flex;
    flex-direction: column;
}

.detail .taber {
    border-left: 1.07vw solid #bc2e2e;
    padding-left: 2.7vw;
    margin-bottom: 5.33vw;
    font-weight: bold;
}

.detail .lector {
    margin-bottom: 8.8vw;
}

.detail .lector .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vw;
}

.detail .lector .avatar img {
    width: 13.33vw;
    height: 13.33vw;
    border-radius: 50%;
    margin-bottom: 1.33vw;
}

.detail .lector .avatar .nickname,
.detail .lector-des,
.detail .course-content {
    color: #666;
}

.detail .lector-des,
.detail .course-content {
    text-indent: 2rem;
}

/* 课程列表 */
.list {
    width: 96vw;
    margin-left: 4vw;
}

.list .item {
    width: 100%;
    height: 20.53vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list .item .index {
    width: 6vw;
    font-size: 4vw;
    color: #888;
}

.list .item .playing {
    width: 6vw;
    height: 6vw;
}

.list .item .item-detail {
    width: 86vw;
    height: 100%;
    padding-left: 4vw;
    border-bottom: 1px solid #dcdde3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list .item .item-detail .item-title {
    width: 77.33vw;
    font-size: 4vw;
    margin-bottom: 2.4vw;
}

.list .item .item-detail .item-nums {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list .item .item-detail .item-nums img {
    width: 2.4vw;
    height: 2.4vw;
    margin-right: 1.33vw;
}

.list .item .item-detail .item-nums span {
    font-size: 3.2vw;
    color: #999;
}

.list .item .item-detail .item-status {
    position: absolute;
    right: 4vw;
}

.list .item .item-detail .item-status img {
    width: 4.8vw;
    height: 4.8vw;
}

.list .item .item-detail .item-status span {
    display: block;
    width: 10.67vw;
    height: 5.33vw;
    text-align: center;
    line-height: 5.33vw;
    border-radius: 2px;
    font-size: 3.2vw;
    color: rgb(101, 160, 101);
    border: 1px solid rgba(66, 172, 66, 1);
}