/* 375px = 100vw;
        345px = 
        		336px = 89.6vw;
        		290px = 77.33vw;
        		250px = 66.67vw;
                210px = 56vw;
                172.5px = 46vw;
        		113px = 30.13vw;
        		77px = 20.53vw;
        		50px = 13.33vw;
        		40px = 10.67vw;
        		33px = 8.8vw;
        		30px = 8vw;
        		28px = 7.47vw;
        		22.5px = 6vw;
        		20px = 5.33vw;
        		18px = 4.8vw;
        		16px = 4.27vw;
        		15px = 4vw;
        		14px = 3.7vw;
        		13px = 3.45vw;
        		12px = 3.2vw;
        		10px = 2.7vw;
        		9px = 2.4vw;
        		5px = 1.33vw;
        		4px = 1.07vw;
        		3px = 0.8vw;
                */
.vue {
    width: 92vw;
    padding: 4vw;
    padding-bottom: 20vw;
}

.top {
    width: 100%;
    position: relative;
}

.top .time {
    width: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.45vw;
}



.header-title,
.rule {
    width: 100%;
    text-align: center;
    margin: 4vw 0vw;
}

.rule span {
    border-radius: 13.33vw;
    border: 0.5px solid #bc2e2e;
    color: #bc2e2e;
    font-size: 3.2vw;
    padding: 0.8vw 2.7vw;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list .item {
    width: 44vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 4vw;
}

.list .item img {
    width: 44vw;
    height: 44vw;
    object-fit: cover;
    border-radius: 1.07vw;
}

.list .item img,
.list .item .title,
.list .item .old-price,
.list .item .price {
    margin-bottom: 1.33vw;

}

.list .item .status {
    position: absolute;
    text-align: center;
    height: 5.33vw;
    line-height: 5.33vw;
    width: 13.3vw;
    display: inline-block;
    font-size: 3.2vw;
    color: white;
    position: absolute;
    z-index: 99;
    background: #bc2e2e;
    left: 4vw;
}

.list .item .old-price span,
.list .item .price span {
    font-size: 3.7vw;
    color: #888;
}

.list .item .old-price .value {
    text-decoration: line-through;
}

.list .item .price .value {
    font-size: 4.8vw;
    color: #bc2e2e;
}