    /* 375px = 100vw;
        		336px = 89.6vw;
        		290px = 77.33vw;
        		250px = 66.67vw;
        		210px = 56vw;
        		113px = 30.13vw;
        		77px = 20.53vw;
        		50px = 13.33vw;
        		40px = 10.67vw;
        		33px = 8.8vw;
        		30px = 8vw;
        		28px = 7.47vw;
        		22.5px = 6vw;
        		20px = 5.33vw;
        		18px = 4.8vw;
        		16px = 4.27vw;
        		15px = 4vw;
        		14px = 3.7vw;
        		13px = 3.45vw;
        		12px = 3.2vw;
        		10px = 2.7vw;
        		9px = 2.4vw;
        		5px = 1.33vw;
        		4px = 1.07vw;
                3px = 0.8vw;
                1px = 0.27vw;
        		*/

    .vue {
        margin-bottom: 20vw;
    }

    .content {
        width: 92vw;
        margin: 4vw;
    }

    .content p,
    .content img {
        margin-bottom: 2.7vw;
    }

    .price-list {
        width: 92vw;
        margin: 4vw;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .price-list .title {
        font-size: 4.27vw;
        color: #666;
        width: 24vw;
    }

    .price-list .price {
        width: 72vw;
        display: flex;
        flex-direction: column;
    }