<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>藏玉</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="dist/css/framework7-icons.css">
    <link rel="stylesheet" href="dist/css/framework7.ios.min.css">
    
    <!--<link rel="stylesheet" href="dist/css/framework7.material.min.css">-->
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">

  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!--弹出发布页面-->
	<div class="popup popup-fabu">
		<div class="fabu_btn_list">
			<a class="qiujianding_btn"></a>
      		<a class="fatiezi_btn"></a>
      		<a class="woxiangmai_btn"></a>
		</div>
		<p class="popup_fabu_guanbi"><a href="#" class="close-popup"><i class="f7-icons">close</i></a></p>
     
	</div>

	<!-- Views, and they are tabs-->
    <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
	<div class="views">
		<div id="view-1" class="view view-main tab active">
		<div class="pages navbar-through" id="dongtai">
			<div data-page="jianding_xiangqing" class="page">
				<div class="navbar cangyu_bbs_top_tabber">
					<div class="navbar-inner">
						<div class="left with-animation"><a href="index.html#view-4" class="back link"> <i class="icon icon-back"></i></a></div>
						<div class="center ">我的动态</div>
						<div class="right cangyu_bbs_tanchu_pinglun_btn_fabu"><!--<a href="#">保存</a>--></div>
					</div>
				</div>

				<div class="page-content">
					<div class="toolbar tabbar tabbar-scrollable tabbar_cangyu_bbs_dingdan">
						<div class="toolbar-inner">
							<a href="#tab1-dongtai" class="tab-link active" v-on:click="showComment()">评论</a>
							<a href="#tab2-dongtai" class="tab-link" v-on:click="showReplay()">回复</a>
							<a href="#tab3-dongtai" class="tab-link" v-on:click="showPraise()">赞同</a>
						</div>
					</div>
    
    
    <!-- Tabs wrapper, shoud have "tabs" class. Required element -->
					<div class="tabs">
  <!-- First tab, should have "tab" class and unique id attribute -->
  <!-- First tab is active by default - additional "active" class -->
						<div class="tab active" id="tab1-dongtai">
							<div class="cangyu_bbs_comment cangyu_bbs_dongtailist">

								<ul>
									<li v-for="item in comments">
										<div class="m-box comment-con-top">
											<div class="comment-user-img m-avatar-box"><a href="#" class="m-img-box"><img v-bind:src="item.from_avatar | alb" alt=""> </a></div>
											<div class="m-box-col"><p class="comment-user-name"><span><b>{{ item.from_nickname }}</b>{{ item.content }}</span></p> <p class="comment-time"><span>{{item.createdate}}</span></p></div>
											<span class="comment-zan"><img v-bind:src="item.img" /></span></div>
									</li>
								</ul>
  	
							</div>
						</div>
  <!-- Second tab, should have "tab" class and unique id attribute -->

						<div class="tab" id="tab2-dongtai">
							<div class="cangyu_bbs_comment cangyu_bbs_dongtailist">
								<ul>
									<li v-for="item in replays">
										<div class="m-box comment-con-top">
											<div class="comment-user-img m-avatar-box"><a href="#" class="m-img-box"><img v-bind:src="item.from_avatar | alb" alt=""> </a></div>
											<div class="m-box-col"><p class="comment-user-name"><span><b>{{ item.from_nickname }}</b>{{ item.content }}</span></p> <p class="comment-time"><span>{{item.createdate}}</span></p></div>
											<span class="comment-zan"><img v-bind:src="item.img" /></span></div>
									</li>
								</ul>
  	
							</div>
						</div>
  <!-- Third tab, should have "tab" class and unique id attribute -->

						<div class="tab" id="tab3-dongtai">
							<div class="cangyu_bbs_comment cangyu_bbs_dongtailist">
								<ul>
									<li v-for="item in praises">
										<div class="m-box comment-con-top">
											<div class="comment-user-img m-avatar-box"><a href="#" class="m-img-box"><img v-bind:src="item.from_avatar | alb" alt=""> </a></div>
											<div class="m-box-col"><p class="comment-user-name"><span><b>{{ item.from_nickname }}</b>{{ item.content }}</span></p> <p class="comment-time"><span>{{item.createdate}}</span></p></div>
											<span class="comment-zan"><img v-bind:src="item.img" /></span></div>
									</li>
								</ul>
  	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

	<!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="dist/js/framework7.min.js"></script>
    <!-- other Library  -->
    <script type="text/javascript" src="js/vue/vue.min.js"></script>
    <script type="text/javascript" src="js/vue-resource/vue-resource.js"></script>
    <script type="text/javascript" src="js/store.everything.min.js"></script>

    <!-- Path to your app js-->
    <script type="text/javascript" src="js/config.js"></script>
  	<script type="text/javascript" src="js/vue/vue.min.js"></script>
  	<script type="text/javascript" src="js/vue-resource/vue-resource.js"></script>
    <script type="text/javascript" src="js/vue-filter.js"></script>
    <script type="text/javascript">

		let dongtaiVue = new Vue({
			data: {
				comments: [],
				replays: [],
				praises: []
			},

			methods: {
				showComment: function(){
					this.load(4); //评论
				},
				showReplay: function(){
					this.load(5); //回复
				},
				showPraise: function(){
					this.load(6); //点赞
				},

				load: function(type){
					let self = this;
					self.$http.get(`${CYHOST}/icy/system_news_list?token=${token}&type=${type}`)	//暂时不需要传page参数
						.then(res => {
							console.log(res);

							if(!res.body.data || res.body.data.list === 0) return;

							if(type === 4){
								self.$data.comments = res.body.data.list;
							} else if(type === 5){
								self.$data.replays = res.body.data.list;
							} else if(type === 6){
								self.$data.praises = res.body.data.list;
							}
						}, res => {
							console.log(res);
						});
				}
			},

			mounted: function(){
				this.load(4); //评论
			}
		});
		dongtaiVue.$mount('#dongtai');

        // Initialize your app
        var dongtaiApp = new Framework7({
            router: false,
            swipePanel: 'left'
        });

		dongtaiApp.addView('#view-1');

	</script>
    
  </body>
</html>