<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>藏玉</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="dist/css/framework7-icons.css">
    <link rel="stylesheet" href="dist/css/framework7.ios.min.css">
      <link rel="stylesheet" href="css/my-app.css">

      <!-- Path to jquary Library JS-->
      <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="js/template-native.js"></script>
      <!-- Path to Framework7 Library JS-->
      <script type="text/javascript" src="dist/js/framework7.min.js"></script>
  </head>

  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!--弹出发布页面-->
    <div class="popup popup-fabu">
        <div class="fabu_btn_list">
            <a class="qiujianding_btn"></a>
      		<a class="fatiezi_btn"></a>
      		<a class="woxiangmai_btn"></a>
        </div>
        <p class="popup_fabu_guanbi"><a href="#" class="close-popup"><i class="f7-icons">close</i></a></p>
     
    </div>


    <!-- Views, and they are tabs-->
    <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
    <div class="views">
        <div id="wode_index" class="view">
        <div class="pages navbar-through ">
            <div data-page="jianding_xiangqing" class="page no-navbar">

                <div class="navbar cangyu_bbs_top_tabber_yx">
                    <div class="navbar-inner">
                        <div class="left sliding"><a href="javascript:;" onclick="goBack()" class="link"> <i class="icon icon-back"></i></a></div>
                        <div class="center" style="display: none;">我的主页</div>
                        <div class="right"><!--右侧按钮暂时隐藏--></div>
                    </div>
                </div>


                <div class="page-content infinite-scroll pull-to-refresh-content" data-distance="100">
                    <div class="pull-to-refresh-layer">
                        <div class="preloader"></div>
                        <div class="pull-to-refresh-arrow"></div>
                    </div>

                    <div class="cangyu_bbs_geren_index_top" id="userProfile">

                        <div class="cangyu_bbs_comment cangyu_bbs_geren_index_top_touxiang" style="height: 100px">
                            <div class="m-box comment-con-top">
                                <div class="comment-user-img m-avatar-box"><a class="m-img-box"><img id="userHeaderImage" src="img/005EgInIjw8fai0zeiuqej30hs0hudgh.jpg" alt=""> </a></div>
                                <div class="m-box-col"><p class="comment-user-name" style="margin-top: 10px;"><span id="userName">藏玉拍卖师</span><span class="cangyu_bbs_dengji">Lv.0</span></p></div>
                            </div>
                        </div>

                        <div style="background-image:url(img/userbgb.jpg)" valign="bottom" class="card-header color-white no-border"></div>


                        <div class="person_div_mess" style="position: relative; z-index: 9999;"></div>

                    </div>

                    <div class="person_dynamic_div_list"></div>
                    
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>

                </div>

            </div>
        </div>
        </div>
    </div>

    <script type="text/html" id="person_mess">
        <div class="cangyu_bbs_geren_index_top_guanzhu">
            <div class="cangyu_bbs_geren_index_left_sl">
                <ul>
                    <li onclick="attentionList()">
                        <h3><%=data.attention_nums%></h3>
                        <h4>关注</h4>
                    </li>
                    <li onclick="fansList()">
                        <h3><%=data.fans_nums%></h3>
                        <h4>粉丝</h4>
                    </li>
                    <li onclick="bePraise()">
                        <h3><%=data.praise_nums%></h3>
                        <h4>被赞</h4>
                    </li>
                </ul>
            </div>
            <% if (data.attention_status !== 'y') { %>
            <div class="cangyu_bbs_geren_index_top_btn"><a id="btnAttention" class="button button-round" onclick='attention()' style="display:none;">关注</a></div>
            <% } else { %>
            <div class="cangyu_bbs_geren_index_top_btn"><a id="btnAttention" class="button button-round" style="display:none;">已关注</a></div>
            <% } %>
        </div>
    </script>

    <script type="text/html" id="person_dynamic_list">
        <%for(var i = 0; i < list.length; i ++){%>
            <div class="card facebook-card ">

                <div class="card-header">
                    <div class="facebook-avatar">
                        <a href="wode_index.html">
                            <img src="https://app.icangyu.com<%=list[i].avatar%>" width="34" height="34">
                        </a>
                    </div>
                    <div class="facebook-name">
                        <a href="wode_index.html"><%=list[i].nickname%></a>
                        <span class="cangyu_bbs_dengji">Lv<%=list[i].rating%></span>
                    </div>
                    <div class="facebook-date"><%=list[i].createdate%></div>
                </div>

                <div class="card-content">
                    <a href="javascript:;" onclick="getJumpUri(<%= list[i].type %>, <%= list[i].id %>)" class="block-a">
                        <div class="card-content-inner">
                            <h3 class="card-content-yylm-t"><%=list[i].content%></h3>
                            <div class="weibo-detail">
                                <div class="media-pic-list">
                                    <ul style="overflow:hidden">
                                        <%for(var k = 0; k < list[i].album.length; k++){%>
                                        <li>
                                            <img data-node="pic" data-act-type="hover" src="https://app.icangyu.com<%=list[i].album[k].file_path%>" class="loaded">
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                            <div class="yylm-pinglun-con">
                                <section class="detail-num clearfix">
                                    <div class="detail-header">
                                        <%if( list[i].type == "1"){%>
                                            <%for(var n = 0; n < list[i].praise_list.length; n++){%>
                                            <span><img src="https://app.icangyu.com<%=list[i].praise_list[n].avatar_want%>"></span>
                                            <%}%>
                                        <%}else if(list[i].type == "2"){%>
                                            <%for(var n = 0; n < list[i].palm.length; n++){%>
                                            <span>掌眼邀请 <%=list[i].palm[n].nickname%></span>
                                            <%}%>
                                        <%}else if(list[i].type == "3"){%>
                                            <%for(var n = 0; n < list[i].type_list.length; n++){%>
                                            <span><img src="https://app.icangyu.com<%=list[i].type_list[n].avatar_want%>"></span>
                                            <%}%>
                                        <%}else if(list[i].type == "4"){%>
                                            <%for(var n = 0; n < list[i].praise_list.length; n++){%>
                                            <span><img src="https://app.icangyu.com<%=list[i].praise_list[n].avatar_want%>"></span>
                                            <%}%>
                                        <%}%>
                                    </div>
                                    <div class="yylm-dianzan-shu"><span><%=list[i].all_nums%>人点赞</div>
                                </section>
                                <section class="detail-pinglun clearfix">
                                    <div class="detail-pinlun-list">
                                        <ul>
                                            <%for(var m = 0 ; m < list[i].comment_list.length; m++){%>
                                            <li>
                                                <%if(list[i].comment_list[m].reply_type == 1){%>
                                                <b><%=list[i].comment_list[m].nickname_comment%></b>&nbsp;<span><%=list[i].comment_list[m].tonickname%>:</span><%=list[i].comment_list[m].comment%>
                                                <%}else{%>
                                                <b><%=list[i].comment_list[m].nickname_comment%></b>&nbsp;<%=list[i].comment_list[m].comment%>
                                                <%}%>
                                            </li>
                                            <%}%>
                                        </ul>
                                        <p>查看全部<span><%=list[i].comment_all%></span>条评论</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-footer ">
                    <a href="javascript:;" onclick="praise(<%=list[i].id%>)" class="link"><i class="f7-icons size-22"><%=list[i].praise_status === 1 ? 'heart_fill' : 'heart'%></i></a>
                    <a href="#" class="link"><i class="f7-icons size-22">chat</i></a>
                </div>
            </div>
        <%}%>
    </script>

    <script type="text/javascript" src="js/config.js"></script>
    <script>

        let user_id = HttpHelper.getQuery('user_id');
        let isSelf = false;
        if(!user_id){
            user_id = HttpHelper.getCookie('USER_ID');
            isSelf = true;
        }

        function goBack(){
            // window.history.go(-1);
            window.location.href = 'index.html#view-4';
        }

        function getJumpUri(type, id){
            var page = '';
            if(type == '1' || type == '4'){
                page = 'tiezi——xiangqing.html';
            } else if(type == '2'){
                page = 'jianding——xiangqing.html';
            } else if(type == '3'){
                page = 'maimai——xiangqing.html';
            }

            window.location.href = `${page}?type=${type}&item_id=${id}`;
        }


        function attention(){
            //关注
            $.getJSON(`${CYHOST}/icy/user_follow_add?follow_id=${user_id}&token=${token}`,function (data) {
                // console.log(data);
                if(data.result === 100){
                    wodeApp.alert('关注成功。', '提示');
                }else{
                    wodeApp.alert(data.info, '提示');
                }
            });
        }

        //个人详情
        $.getJSON(`${CYHOST}/icy/personal_center_top?id=${user_id}&token=${token}`,function (data) {
            console.log(data);
            var html = template('person_mess',data);
            $('.person_div_mess').html(html);

            if(!isSelf){
                $('#btnAttention').show();
            }
            $('#userName').text(data.data.nickname);
            $('#userHeaderImage').attr('src', CYHOST + data.data.avatar);
            $('.cangyu_bbs_dengji').text(`Lv.${data.data.rating}`);
        });

        //个人动态
        $.getJSON(`${CYHOST}/icy/personal_center_content?id=${user_id}&token=${token}`, function (data) {
            // console.log(data);
            var Odata = data.data;
            
            if(Odata.list.length < 10){
                $('.infinite-scroll-preloader').hide();
            }

            var html = template('person_dynamic_list',Odata);
            $('.person_dynamic_div_list').html(html);
        });

        function praise(square_id){
            //点赞
            $.getJSON(`${CYHOST}/icy/square_praise_add?square_id=${square_id}&token=${token}`, function (data) {
                if(data.result === 100){
                    wodeApp.alert('点赞成功。', '提示');
                }else{
                    wodeApp.alert(data.info, '提示');
                }
            });
        }

        function attentionList(){
            window.location.href = 'attention_list.html?type=1&user_id=' + user_id;
        }

        function fansList(){
            window.location.href = 'attention_list.html?type=2&user_id=' + user_id;
        }

        function bePraise(){
            window.location.href = 'attention_list.html?type=3&user_id=' + user_id;
        }

        // Initialize your app
        var wodeApp = new Framework7({
            router: false,
            swipePanel: 'left'
        });
        wodeApp.addView('#wode_index');

        // Export selectors engine
        var $$ = Dom7;

        var ptrContent = $$('.pull-to-refresh-content');
        // Add 'refresh' listener on it
        ptrContent.on('refresh', function (e) {
            tieziPageIndex = 0;

            setTimeout(function(){
                //个人动态
                $.getJSON(`${CYHOST}/icy/personal_center_content?id=${user_id}&token=${token}&page=0`, function (data) {
                    console.log(data);
                    var Odata = data.data;
                    var html = template('person_dynamic_list',Odata);
                    $('.person_dynamic_div_list').html(html);

                    // When loading done, we need to reset it
                    wodeApp.pullToRefreshDone();
                    $('.infinite-scroll-preloader').show();
                });
            }, 1500);
        });

        var loading = false;    //是否正在加载中
        var tieziPageIndex = 0;
        var pageSize = 10;
        var resetLoadingTime = 1500;
        //下拉加载
        $$('.infinite-scroll').on('infinite', function (ev) {
            setTimeout(function() {
                if (loading) return;
                loading = true;

                tieziPageIndex = tieziPageIndex + pageSize;

                //个人动态
                $.getJSON(`${CYHOST}/icy/personal_center_content?id=${user_id}&token=${token}&page=${tieziPageIndex}`, function (data) {
                    console.log(data);
                    var Odata = data.data;

                    if(Odata.list.length === 0){
                        $('.infinite-scroll-preloader').hide();
                        setTimeout(function(){
                            loading = false;
                        }, resetLoadingTime);
                        return;
                    }

                    var html = template('person_dynamic_list',Odata);
                    $('.person_dynamic_div_list').append(html);

                    setTimeout(function(){
                        loading = false;
                    }, resetLoadingTime);  
                });
            }, resetLoadingTime);
        });

    </script>


  </body>

</html>