/* DaTouWang URL: www.datouwang.com */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

.vue {
    width: 100vw;
    height: 100%;
    display: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(254, 238, 204, 1) 100%);
}

.bg-top {
    position: relative;
    width: 100vw;
}

.bg-bottom {
    position: relative;
    width: 100vw;
    z-index: 1;
    vertical-align: middle;
}

#turntable {
    margin: 0 auto;
}